.feynman__link{
  position: absolute;
  top: 50%;
  right: 48px;
  font-size: 36px;
  line-height: 51px;
  color: #2f80ed;
  font-weight: normal;
  text-decoration: none;
  z-index: 2;
  transition: opacity 0.3s ease-in-out;
}
.feynman__link:hover {
  opacity: 0.6;
}
