.description {
  display: flex;
  justify-content: center;
  padding-top: 100px;
}


.digits {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
  margin-bottom: 100px;
}



.section-subtitle_theme_dark {
  color: white;
  z-index: 2;
}


.techniques {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 80%;
  padding-top: 100px;
  margin: 0 auto;
}
.video {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
  margin-bottom: -65px;
}
.video__iframes {
  display: flex;
  flex-direction: row;
  padding-top: 50px;
  gap: 0 20px;
  margin: 0 auto;
}
.oakley {
  display: flex;
  justify-content: center;
  padding-top: 160px;
  background-color: #f2f2f2;
}









